.footer{
  position: relative;
  z-index: $footer-zindex;

  .footer-content{
    width: 100%;
   }
  a:hover{
  }
}

// .img-mountain img, .img-bot img {
//  width: 100%;
//  height: auto;
// }



// footer .footer-bottom h4{font-size:14px;color:#000;margin-bottom:20px;text-transform:uppercase;}