html {
  max-height: 100%;
  max-width: 100%;

  body {
    font-family: AvantGarde;
    font-weight: 400;
    font-style: normal;
    header, #slider-carouselFade, #page, #wrapper-content, footer{
      display: block;
      opacity: 0;
    }
  }

  .transition{
    transition: all 0.5s;
  }

  .display{
    display: block !important;
  }

  .no-display{
    opacity: 0 !important;
    transition: 1s opacity;
    display: none !important;
  }

  ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
  }

  .btn {
    padding: 10px 20px 5px;
    background: $green-base;
    text-transform: uppercase;
    line-height: 20px;
  }

  a.btn {
    color: white;
  }

  .text-red {
    color: #ec1a29;
  }

  .text-green {
    color: #64b94c;
  }

  .text-green {
    color: #4397cf;
  }

  .fullwidth {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  p {
    line-height: 20px;
    margin: 10px 0 20px 0;
  }

  h1 {
    font-size: 40px;
    color: #000;
    font-weight: 700;
    font-family: "AvantGardecn";
  }

  h2 {
    color: #5a5a5a;
    font-size: 20px;
    font-weight: 700;
    font-family: "AvantGardecn";
    /*margin-bottom:40px;*/
  }

  img{
    width: 50%;
    height: auto;
  }


  b{
    color: $bold;
  }


  .bg-white{
      background-color: $bg-white;
  }

}











