$ShdowColor:       rgba(9, 255, 3, 0.8);
$bg-white:         rgba(255,255,255,0.9);
$bg-graybarColor:  rgba(9, 255, 3,0.7);

$bgColorNav:       rgba(255, 255, 255, 0.8);
$color-nav2:       rgba(9, 255, 3,0.5);
$color-nav2full:   rgba(9, 255, 3,1);

$bold :            rgba(9, 255, 3,0.9);
$medium :          rgba(9, 255, 3,0.5);
$light :           rgba(9, 255, 3,0.2);

$orange-base:      #ee7202 !default;
$orange-darker:    lighten($orange-base, 13.5%) !default; 
$orange-dark:      lighten($orange-base, 20%) !default;   
$orange:           lighten($orange-base, 33.5%) !default; 
$orange-light:     lighten($orange-base, 46.7%) !default; 
$orange-lighter:   lighten($orange-base, 93.5%) !default; 

$green-base:        rgba(9, 255, 3,1);
$green-darker:      rgba(9, 255, 3,0.9); 
$green-dark:        rgba(9, 255, 3,0.7);   
$green:             rgba(9, 255, 3,0.5); 
$green-light:       rgba(9, 255, 3,0.3); 
$green-lighter:     rgba(9, 255, 3,0.1); 

$header-zindex: 40;
$content-zindex: 30;
$footer-zindex: 10;
$sup-zindex: 40 !important;

